name: 'ci'
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - docs/**
      - docs-playground/**
      - playgrounds/**
      - scripts
  pull_request:
    branches:
      - master
    paths-ignore:
      - docs/**
      - docs-playground/**
      - playgrounds/**
      - scripts
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node version to 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: pnpm i

      - run: pnpm run build

      - name: Run unit tests
        run: pnpm run test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node version to 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: pnpm i

      - run: pnpm run build

      - name: Run test coverage
        run: pnpm run test:coverage

      - name: Publish coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node version to 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: pnpm i

      - run: pnpm run build

      - name: Run eslint
        run: pnpm run lint

  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node version to 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: pnpm i
      - run: pnpm run build
      - run: pnpm run size
