name: 'ci'
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - docs/**
      - docs-playground/**
      - playgrounds/**
      - scripts
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**
      - docs-playground/**
      - playgrounds/**
      - scripts
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - run: corepack enable

      - name: Set node version to 18
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - run: pnpm i

      - run: pnpm run build:stub
      - run: pnpm run build:ci

      - name: Run unit tests
        run: pnpm run test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - run: corepack enable

      - name: Set node version to 18
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
          cache: "pnpm"

      - run: pnpm i

      - run: pnpm run build:stub
      - run: pnpm run build:ci

      - name: Run test coverage
        run: pnpm run test:coverage

      - name: Publish coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - run: corepack enable

      - name: Set node version to 18
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
          cache: "pnpm"

      - run: pnpm i

      - run: pnpm run build:stub
      - run: pnpm run build:ci

      - name: Run eslint
        run: pnpm run lint

  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - run: corepack enable

      - name: Set node version to 18
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
          cache: "pnpm"

      - run: pnpm i
      - run: pnpm run build:stub
      - run: pnpm run build:ci
      - run: pnpm run size
